/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'latoRegular', Arial, sans-serif; /* Usa a fonte personalizada */
    background-color: #ffffff;
    color: #4B0082;
    padding: 20px;
}

/* Adiciona espaçamento horizontal ao corpo do texto */
main {
    padding:  20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffff;
    padding: 20px;
}

header img {
    max-width: 100%;
    height: auto;
}

#main-nav {
    background-color: #4B0082;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#main-nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

#main-nav a:hover {
    transform: scale(1.1);
}

#introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
}

#video-container {
    width: 50%;
}

#video-container video {
    width: 100%;
    height: auto;
}

#course-introduction {
    width: 50%;
}

#course-introduction h3, #course-introduction p {
    margin: 10px 10;
    margin-bottom: 10px;
    padding: 10px;
}

h4 {
    color: #6a2875; /* Usa uma cor diferente para os títulos */
    font-size: 24px; /* Tamanho do título */
    font-weight: bold; /* Texto em negrito */
    margin-top: 20px;
}

#course-details {
    background-color: #f5f5f5;
    color: black;
    border: 2px solid #4B0082;
    padding: 20px;
    margin: 20px 0;
}

#topics-nav {
    background-color: #f5f5f5;
}

#topics-nav a {
    display: block;
    text-decoration: none;
    color: #4B0082;
    padding: 10px;
}

#topics-nav .card-header {
    background-color: #4B0082;
    color: white;
}

#topics-nav .btn-link {
    color: white;
}

#topics-nav .btn-link::after {
    content: ' \25B6'; /* Add a right-pointing arrow */
}

#topics-nav .btn-link[aria-expanded="true"]::after {
    content: ' \25BC'; /* Change to a down-pointing arrow when expanded */
}

/* Estilos existentes para o cabeçalho, main e outros elementos aqui */

footer {
    background-color: #f5f5f5; /* Fundo cinza claro */
    padding: 20px 0; /* Espaçamento interno do rodapé */
}

#footer-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Adiciona estilos para os elementos .card e .cardHeader baseados nas sugestões anteriores */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Adiciona sombra */
  transition: 0.3s; /* Transição suave ao passar o mouse */
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
  cursor: pointer;
}

.txtCardHeader {
  word-wrap: break-word;
  font-size: 24px;
}

.txtCardHeader_Encontro {
  word-wrap: break-word;
  font-size: 12px;
}
